body{
    display: grid;      
    place-items: center;
  
}

header {
    margin-bottom: 20vh;
}

.linha {
    margin-bottom: 1vh;
    display: flex;      
    place-items: center;
}

button {
    height: 20vh;
    width: 20vh;
    font-size: 18pt;
    margin-right: 0.5vw;
}

#btn-reiniciar{
    height: 45px;
    width: 45px;
    border-radius: 20px;
    padding: 5px;
}

img{
    height: 25px;
}