main {
    margin-top: 5vh;
    display: grid;
    place-items: center;

}

.calculadora{
    width: 40vw;
    height: 50vh;
    background-color: rgb(166, 166, 240);
    display: grid;
    place-items: center;
    padding: 2vw;
    
    
}

.caixa{
    margin-top: 0;
    background-color: rgb(217, 217, 247);
    width: 30vw;
    margin-bottom: 1vh;
    text-align: right;
    font-size: 15pt;
    padding: 1vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
}

button {
    height: 10vh;
    width: 10vh;
}