body { 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: white;

}

#Cabeçalho {
    height: 160px;

    background-color: rgb(35, 35, 35);
    border-radius: 0px;
    border-style: solid;
    text-align: center;
    color: white;
    border-color: rgb(35, 35, 35);
    position: relative;
}

.corpo {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

#logo {
    font-size: 50pt;
    font-family: Unive;
    
}
.icone {
    text-align: center;
    position: relative;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

}

.ilustration {
    text-align: center;
    position: relative;
    top: 80px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    height: 500px;

}
@font-face {
    font-family: Unive;
    src: url('university_2/University.otf') format('opentype');
}
